*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  background: #000;
}

.ws-pages {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.ws-bgs {
  position: relative;
  height: 100%;
}

.ws-bg {
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.ws-pages.s--ready .ws-bg {
  background: none !important;
}

.ws-bg::after {
  content: '';
  display: table;
  clear: both;
}

.ws-bg__part-1::after {
  left: 0vw;
}

.ws-bg__part-2::after {
  left: -4.166667vw;
}

.ws-bg__part-3::after {
  left: -8.33333vw;
}

.ws-bg__part-4::after {
  left: -12.5vw;
}

.ws-bg__part-5::after {
  left: -16.66667vw;
}

.ws-bg__part-6::after {
  left: -20.83333vw;
}

.ws-bg__part-7::after {
  left: -25vw;
}

.ws-bg__part-8::after {
  left: -29.1667vw;
}

.ws-bg__part-9::after {
  left: -33.33333vw;
}

.ws-bg__part-10::after {
  left: -37.5vw;
}

.ws-bg__part-11::after {
  left: -41.56667vw;
}

.ws-bg__part-12::after {
  left: -45.66667vw;
}

.ws-bg__part-13::after {
  left: -50vw;
}

.ws-bg__part-14::after {
  left: -54.16667vw;
}

.ws-bg__part-15::after {
  left: -58.33333vw;
}

.ws-bg__part-16::after {
  left: -62.5vw;
}

.ws-bg__part-17::after {
  left: -66.6667vw;
}

.ws-bg__part-18::after {
  left: -70.83333vw;
}

.ws-bg__part-19::after {
  left: -75vw;
}

.ws-bg__part-20::after {
  left: -79.16667vw;
}

.ws-bg__part-21::after {
  left: -83.33333vw;
}

.ws-bg__part-22::after {
  left: -87.5vw;
}

.ws-bg__part-23::after {
  left: -91.66667vw;
}

.ws-bg__part-24::after {
  left: -95.83333vw;
}

.ws-bg:nth-child(1) {
  background-image: url(img/1.jpg);
}

/* image 1 */
.ws-bg:nth-child(1) {
  background-image: url(img/1.jpg);
}

.ws-bg:nth-child(1) .ws-bg__part {
  background-image: url(img/1.jpg);
}

/* image 2 */
.ws-bg:nth-child(2) {
  background-image: url(img/2.jpg);
}

.ws-bg:nth-child(2) .ws-bg__part {
  background-image: url(img/2.jpg);
}

/* image 3 */
.ws-bg:nth-child(3) {
  background-image: url(img/3.jpg);
}

.ws-bg:nth-child(3) .ws-bg__part {
  background-image: url(img/3.jpg);
}

/* image 4 */
.ws-bg:nth-child(4) {
  background-image: url(img/4.jpg);
}

.ws-bg:nth-child(4) .ws-bg__part {
  background-image: url(img/4.jpg);
}

/* image 5 */
.ws-bg:nth-child(5) {
  background-image: url(img/5.jpg);
}

.ws-bg:nth-child(5) .ws-bg__part {
  background-image: url(img/5.jpg);
}